.card-hero_image{
    border-radius: 15px;
}
.card-grid {
  display: grid;
  gap: 2rem;
  margin: 2rem;
  margin-top: 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}